.journal-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

#title {
    width: 200px;
    margin: auto;
    text-align: center;
}

.journal-text {
  field-sizing: content;
  min-width: 50%;
  min-height: 100px;
  max-width: 80%;
}

#text {
  min-width: 400px;
  min-height: 200px;
  field-sizing: content;
  max-width: 80%;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#journal-entry-section {
  field-sizing: content;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.journal-title {
    text-align: center;
}

.error {
    color: red;
}